body {
  background: #222;
  color: rgb(234, 234, 234);
  font-family: Arial, sans-serif;
  margin: 20px;
  box-sizing: border-box;
}

a {
  color: rgb(96, 96, 251);
}

.html {
  color: rgb(204, 150, 255)
}